
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//Vuetify
@import "~vuetify/dist/vuetify.min.css";

//Material Design Icons
@import '~material-design-icons-iconfont/dist/material-design-icons.css';


/*.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}*/
